<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitchBot.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value>kase8u9fr15eakvd1jilc5d9w2yf2v</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>opd3owuzguq2rkal63pnvo09us9icq</value>
            </setting>
        </TwitchBot.Properties.Settings>
    </userSettings>
</configuration>
